<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>GitHub Changelog Generator</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div id="app">
    <h3>Commits</h3>
    <label v-for="commit in commits"
           v-bind:class="{commit: true, crossed: commit.added}">
        <input type="checkbox" v-on:click="toggleCheckCommit(commit)" />
        <span v-text="commit.text"></span>
        <code v-text="commit.hash"></code>
    </label>

    <input type="text" placeholder="Text" v-model="newEntry.text" v-on:keyup.enter="addEntry" />
    <button v-on:click="addEntry" v-bind:disabled="newEntry.text.length == 0">+</button>


    <h3>Output</h3>
    <textarea placeholder="Output" class="output" v-text="output"></textarea>
</div>

<script src="assets/js/jquery-3.1.0.min.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/popup.js"></script>
</body>
</html>
